html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background: url("http://images.all-free-download.com/images/graphiclarge/abstract_wave_background_310308.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#forma {
    display: block;
    position: relative;
    top: 30vh;
    left: 25vw;
} 

#esamSlp {
    margin: 2em 0 1em 7em;
    width: 15%;
    border-radius: 5%;
}

#naujSlp {
    margin: 0 0 1em 6.5em;
    width: 15%;
    border-radius: 5%;
}

#pakartSlp {
    margin: 0 0 2em 1.9em;
    width: 15%;
    border-radius: 5%;
}

button {
    background-color: blueviolet;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 5%;
    box-shadow: 0.2em 0.2em black;
    cursor: pointer;
    width: 10%;
    position: relative;
    float: left;
    left: 18.5em;
}

button:hover {
    opacity: 0.5;
}

div {
    display: none;
    position: absolute;
    right: 30%;
    width: 30em;
    height: 5em;
    padding: 4em 3em 1em 3em;
    background-color: lightcoral;
    border: 1px solid black;
    box-shadow: 1em 1em black;
    text-align: center;
    vertical-align: middle;
    opacity: 0.9;
    top: 10em;
}

.ok {
    width: 4em;
    height: 2em;
    float: right;
}
